# Backend API URL
VITE_URL=http://localhost:5000/api

# WebSocket URL
VITE_WEBSOCKET_URL=http://localhost:5000

# Crypto-JS Secret Key (must match Backend VITE_SECRET_KEY)
VITE_SECRET_KEY=your_crypto_js_secret_here
